@import "../../constants/variables.scss";
@import "../../constants/mixin.scss";

.hotel-card-box {
  transition: $transition-slow;
  color: $text-light;
  overflow: hidden;

  .hotel-title {
    background-color: $dark-color-opacity;
    transition: $transition-slow;

    .hotel-card-title {
      font-size: 16px;
      font-weight: lighter;
      letter-spacing: $letter-spacing;
      color: $text-light;
      text-shadow: $text-shadow;
    }
  }

  .hotel-btn {
    padding: 0;

    a {
      display: block;
      text-decoration: none;
      padding: 10px;
      color: $white-color-ch;
      transition: $transition-slow;

      &:hover {
        color: $black-color-ch;
      }
    }
  }

  .hotel-card-adrress {
    font-size: 18px;
    letter-spacing: $letter-spacing;
    background: rgba($bg-main, 0.7);
    transition: $transition-slow;
  }

  .ch-btn-book {
    @include ch-button(rgba($bg-main, 0.7));
    transition: $transition-slow;

    &:hover {
      color: $black-color-ch;
      transition: $transition-slow;
      border-color: inherit;
    }
  }

  .opacity {
    transition: $transition-slow;
    opacity: 0;
  }

  &:hover {
    color: $text-light;
    box-shadow: $box-shadow;

    .hotel-title {
      background-color: inherit;
    }

    .hotel-main-img {
      filter: brightness(0.4);
      transform: scale(1.1);
    }

    .hotel-card-adrress {
      background: inherit;
    }

    .opacity {
      opacity: 1;
    }
  }
}

.hotel-main-img {
  height: 330px;
  transition: $transition-slow;
  object-fit: cover;
}

.hotel-card-info {
  top: 0;
}

@media (max-width: 767px) {
  .hotel-card-box {
    color: $text-light;
    box-shadow: $box-shadow;

    .hotel-title {
      background-color: inherit;
    }

    .hotel-main-img {
      filter: brightness(0.4);
      transform: scale(1.1);
    }

    .hotel-card-adrress {
      background: inherit;
    }

    .opacity {
      opacity: 1;
    }
  }
}
