@import "../../../constants/variables.scss";
@import "../../../constants/mixin.scss";

.list-hotels {
  .card {
    margin-bottom: 10px;
    padding: 0;
    box-shadow: none;
    border: 0;
    transition: $transition;

    .collapse {
      transition: 0;
    }

    .card-header {
      padding: 20px;
      background: $white-color-ch;
      transition: $transition;

      .more-info-btn {
        padding: 0;

        a {
          @include ch-button($btn-info-color);
          display: block;
          text-decoration: none;
          padding: 10px;
        }
      }

      .text-btn {
        padding: 0;
        font-size: 16px;
        color: $black-color-ch;
        text-decoration: none;

        &:hover {
          color: $info-color-ch;
        }

        .icon {
          color: $info-color-ch;
          vertical-align: text-bottom;
        }
      }

      .activate-btn {
        margin-left: 1rem;
      }

      &-date {
        font-size: 14px;
      }
    }

    &:first-child {
      border-radius: 0;
    }

    &:hover {
      border: none;
    }

    .card-body {
      padding: 20px;

      .content {
        margin-left: 20px;
      }

      .ico-map {
        position: relative;
        bottom: 2px;
        color: $danger-color-ch;
      }

      .btn-body {
        margin-left: auto;
      }

      .owner-info {
        color: $general-text-color;
        margin: 15px 0 5px;
      }

      .ico-fullname,
      .ico-email {
        margin-right: 5px;
        font-weight: bold;
        color: $darkskyblue-color-ch;
      }
    }

    .show {
      border-bottom: 1px solid $border-color;
    }

    &:hover {
      box-shadow: $box-shadow-list;

      .show {
        border-bottom: none;
      }
    }
  }
}

.img-info-sm {
  width: 260px;
  height: 185px;
  object-fit: fill;
}

.modal-send-mail {
  box-shadow: $box-shadow;
  width: 500px;
  padding: 20px;
  background: $white-color-ch;
  margin: 3rem auto;
}

.spinner-container {
  height: 60vh;
}

.incognito-img-sm {
  width: 45px;
  margin: 0;
}

@media(width: 768px) {
  .btn-header{
    display: flex;
    justify-content: center;
  }
}

@media (max-width: 610px) {
  .list-hotels {
    .card {
      .card-header {
        flex-direction: column;

        .more-info-btn,
        .activate-btn {
          width: 100%;
        }

        .more-info-btn {
          margin: 20px 0;
        }

        .activate-btn {
          margin: 0;
        }

        .btn-header {
          width: 100%;
        }
      }

      .card-body {
        flex-direction: column;
        align-items: center;

        .btn-body {
          margin: 20px 0 0;
          display: flex;
          justify-content: space-between;
        }

        .info-hotel-mobile {
          width: 100%;
          .content {
            margin: 0;
          }
        }
      }
    }
  }

  .img-info-sm {
    width: 100%;
    height: 190px;
    margin-bottom: 20px;
  }

  .modal-send-mail {
    width: 90%;
  }
}
