@import '../../../constants/variables.scss';

.owner-hotels-list {
    .thead-owner-hotels {
        background-color: $light-gray;
    }
    .td-owner-hotel {
        vertical-align: middle;
        background-color: $white-color-ch;
    }
}

.manage-hotel-buttons {
    .btn-manage-hotel {
        letter-spacing: 1px;
        text-transform: none;
    }
}
