@import "../../constants/variables.scss";
@import "../../constants/mixin.scss";

.gradient-wrapper {
  min-height: 120px;
  background: $main-gradient-ch;
  box-shadow: $box-shadow;
  display: flex;
  align-items: center;
}

.search-container {
  padding: 10px;
  background: $general-background-color;
  box-shadow: $box-shadow;
  justify-content: center;
}

.search-input {
  border: 1px solid $dark-gray;
  width: 325px;
  margin-right: 5px;
}
.search-data-picker,
.search-select {
  border: 1px solid $dark-gray;
  margin-right: 5px;
  width: 160px;
}

.search-tips-select {
  border: 1px solid $dark-gray;
  position: relative;
  padding: 2px;
}

@media (max-width: 992px) {
  .gradient-wrapper {
    min-height: auto;
  }

  .search-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;

    .ch-btn-primary {
      margin-top: 10px;
    }

    .search-data-picker,
    .search-select,
    .ch-btn-danger {
      margin-top: 5px;
    }
  }
}