@import '../../constants/variables.scss';

.owner-hotel-room-list {
    .thead-owner-hotel-room-list {
        background-color: $light-gray;
    }
    .td-owner-hotel-room-list {
        vertical-align: middle;
        text-align: center;
        background-color: $white-color-ch;
    }
}

.room-comfort-label {
    vertical-align: middle;
    .room-comfort-badge {
        font-weight: 500;
        background-color: $light-gray;
    }
}
